.container-registro {
  margin-top: 50px;
  gap: 50px;
}

.container__container-label-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-buton__button {
  width: 100px;
}

.container__cursos-registrados {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container__name-curso-delete {
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}