.container-registro {
  margin-top: 50px;
  gap: 100px;
}

.container__box-curso {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container__box-button {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container-button__button {
  width: 130px;
}

@media (min-width: 900px) {
  .container__group-inputs {
    width: 100%;
  }
}