* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container__title {
  font-size: 50px;
}

.container__container-button {
  display: flex;
  justify-content: space-around;
}

.container-buton__button {
  width: 80px;
  background-color: rgb(23, 23, 255);
  color: aliceblue;
  border: 1px solid rgb(23, 23, 255);
  padding: 7px 0;
  border-radius: 8px;
  transition: .3s;
  &:hover {
    background-color: rgb(75, 75, 75);
    border: 1px solid rgb(75, 75, 75);
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  .container__title {
    font-size: 30px;
  }
  
}