body {
  align-items: start;
}

.container-registro {
  width: 80%;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}

.container__title-persona--registro {
  font-size: 40px;
  margin-bottom: 100px;
}

.container__group-inputs, .container__form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container__inputs, .container__cursos, .container-button__button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 0 5px;
}

.container__group-inputs--cursos-seleccionados {
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.container-curso--seleccionado {
  border: 1px solid dodgerblue;
  border-radius: 8px;
  padding: 1px 5px;
  color: dodgerblue;
  display: flex;
  align-items: center;
  gap: 10px;
}

.fa-xmark {
  font-size: 12px;
  &:hover{
    cursor: pointer;
  }
}

.container-button__button {
  width: 30%;
  margin: auto;
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: aliceblue;
  height: 35px;
  transition: .5s;
  &:hover {
    background-color: black;
    border-color: black;
    cursor: pointer;
  }
}

.container__text-area--mostrar {
  resize: none;
  height: 80px;
  border: 1px solid black;
  border-radius: 8px;
}

.container__group-inputs--container-checkbox {
  display: flex;
  gap: 60px;
}

@media (min-width: 900px) {
  .container__form-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 40px;
    row-gap: 20px;
  }

  .container__title-persona--registro {
    font-size: 50px;
  }

  .container__group-inputs--cursos-seleccionados, .container__group-inputs--combobox {
    grid-column: 1 / 3;
    width: 50%;
    justify-self: center;
  }

  .container__group-inputs--buttons {
    margin-top: 50px;
  }
}

@media (min-width: 1086px) {
  .container-registro {
    width: 60%;
  }
}